---
const { pageTitle, pageDescription } = Astro.props;
import Header from "../../components/blog/Header.astro";
import Footer from "../../components/blog/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link
      rel="stylesheet"
      href="https://assets.guim.co.uk/static/frontend/fonts/font-faces.css"
    />

    <title>The Guardian Engineering Blog - {pageTitle}</title>
    <meta
      name="description"
      content={pageDescription ??
        "A blog by the Guardian's internal engineering team. We build and run the Guardian website, mobile apps, editorial tools, revenue products, advertising, and data and identity platforms. This blog is where we share our experiences and approaches, including software development tips, code examples, open source software and code stories behind product development."}
    />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
