---
import Base from "../../../layouts/blog/Base.astro";

const allPosts = Object.values(
  import.meta.glob("../*.{md,mdx}", { eager: true }),
);
const uniqueAuthors = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.authors).flat()),
];
const sortedAuthors = Array.from(uniqueAuthors).sort();

/* Replace each extracted name with a link */
const convertName = (base, name) => {
  /* Create a URL-friendly version of the name (replace spaces with hyphens)*/
  return base + name.toLowerCase().replace(/\s+/g, "-");
};
---

<Base pageTitle="Authors">
  <main class="container">
    <p>Authors:</p>
    <ul>
      {
        sortedAuthors.map((author: any) => (
          <li>
            {" "}
            <a href={convertName("/blog/authors/", author)}>{author}</a>{" "}
          </li>
        ))
      }
    </ul>
  </main>
</Base>
