---
import Base from "../layouts/blog/Base.astro";
import PostList from "../components/blog/PostList.astro";

const allPosts = Object.values(
  import.meta.glob("./blog/*.{md,mdx}", { eager: true })
);

const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
});
---

<Base pageTitle="Blog">
  <main class="container">
    <PostList posts={sortedPosts} title={``} />
  </main>
</Base>
