---
import PageLayout from '../layouts/page.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<style>
      a {
            background-color: #ccc;
            color: #111;
            text-decoration: none;
            padding: 0 0.25em;
      }
</style>

<PageLayout>
      <h2>
            We're shaping the future of digital journalism.
            <br>
            <a href="https://workforus.theguardian.com/">Join Us.</a> 
      </h2>

      <h3>We build in pursuit of a cause that is greater than ourselves.</h3>
</PageLayout>