---
import { Markdown } from "astro/components";
import PageLayout from "../layouts/page.astro";

const title = "Progression Framework";

const performance = await fetch(
  "https://raw.githubusercontent.com/guardian/engineering-performance-framework/main/README.md"
).then((r) => r.text());

const salaries = await fetch(
  "https://raw.githubusercontent.com/guardian/engineering-performance-framework/main/salary-bands.md"
).then((r) => r.text());
---

<PageLayout {title} edit="progression.astro">
  <Markdown content={performance.split("####").slice(0, 1).join("\n ####")}>

  </Markdown>

  <p>
    Read more about it <a
      href="https://github.com/guardian/engineering-performance-framework/"
      >here</a
    >
  </p>

  <h1>Salary Bands</h1>
  <Markdown content={salaries}>

  </Markdown>
</PageLayout>
