---
import { marked } from 'marked';
import PageLayout from "../layouts/page.astro";

const title = "Progression Framework";

const performance = await fetch(
  "https://raw.githubusercontent.com/guardian/engineering-performance-framework/main/README.md"
)
  .then((r) => r.text())
  // remove everything after the first h4
  .then(t => t.split("####").slice(0, 1).join("\n ####"))
  .then(marked.parse);

const salaries = await fetch(
  "https://raw.githubusercontent.com/guardian/engineering-performance-framework/main/salary-bands.md"
)
  .then((r) => r.text())
  .then(marked.parse);
---

<PageLayout title={title} edit="progression.astro">

  <article set:html={performance} />

  <p>
    Read more about it <a
      href="https://github.com/guardian/engineering-performance-framework/"
      >here</a
    >
  </p>

  <h1>Salary Bands</h1>

  <article set:html={salaries} />
</PageLayout>
