---
import { timeAgo } from "@guardian/libs";

const allPosts = Object.values(
  import.meta.glob("../pages/blog/*.{md,mdx}", { eager: true }),
);

const sortedPosts = allPosts
  .sort((a, b) => {
    return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
  })
  .slice(0, 6);

/* the tiniest blank white image */
const defaultThumbnail =
  "data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==";

const thumbnail = (originalUrl) => {
  return (
    originalUrl.replace("media.guim.co.uk", "i.guim.co.uk/img/media") +
    "?width=512&dpr=1&s=none"
  );
};
---

<h3>Latest Engineering blog posts</h3>
<ul>
  {
    sortedPosts.map((post) => (
      <li>
        <a href={post.url}>
          <figure>
            <img
              src={
                post.frontmatter.image
                  ? thumbnail(post.frontmatter.image.url)
                  : defaultThumbnail
              }
              alt={
                post.frontmatter.image
                  ? post.frontmatter.image.alt
                  : "white background"
              }
              loading="lazy"
              decoding="async"
            />
          </figure>

          <h4>{post.frontmatter.headline}</h4>
          <h5 class="byline">{post.frontmatter.authors.join(", ")}</h5>
          <h5>{timeAgo(post.frontmatter.date)}</h5>
        </a>
      </li>
    ))
  }
</ul>
<a href="/blog">Read more on our Engineering blog</a>
<a href="/blog/rss.xml">RSS Feed</a>

<style lang="scss">
  ul {
    display: grid;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: 740px) {
      & {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    li {
      padding: 0;

      a {
        color: inherit;
        text-decoration: none;
        padding: 0.5rem;
        display: block;
        box-sizing: border-box;
        height: 100%;
        background-color: #333;
      }

      figure {
        margin: 0;
        padding-top: 75%;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      h4 {
        padding-top: 0.5rem;
      }

      h4,
      h5 {
        margin: 0;
      }

      h5 {
        padding-top: 0.5rem;
        font-weight: normal;
        text-decoration: none;
        color: inherit;
      }

      .byline {
        font-style: italic;
      }
    }
  }
</style>
