---
const { title = 'The Guardian : Engineering' } = Astro.props;
---
<head>
    <meta charset="UTF-8">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- this Font-face import is slow - do not use it for production Guardian sites -->
    <link
        href="https://assets.guim.co.uk/static/frontend/fonts/font-faces.css"
        rel="stylesheet"
    />
</head>