---
import { LinkGithub } from './icons/Github.tsx';
import { LinkTwitter } from './icons/Twitter.tsx';
import { LinkJobs } from './icons/Jobs.tsx';
import {
  LinkButton,
  SvgArrowRightStraight,
  SvgTwitter,
} from "@guardian/source-react-components";

import { borderColor } from '../styles/shared.ts'

---
<style lang="scss" define:vars={{borderColor}}>
    header {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul#social-presence {
        list-style-type: none;
        padding: 0;
        display: flex;
    }

    nav {
        border-top: 1px solid var(--borderColor);
        
        flex-basis: 100%;
        display: flex;

        *:nth-child(n + 2) {
            margin-left: 1em;
            padding-left: 1em;
            border-left: 1px solid var(--borderColor);
        }

        a {
            &.active {
                font-weight: bold;
            }

            &:focus,
            &:hover {
                color: red;
            }
        }
    }

    h1 {

    }
</style>
<header>
    
    <ul id="social-presence">
    <li>
        <LinkGithub />
    </li>
    <li>
        <LinkTwitter />
    </li>
    <li>
        <LinkJobs />
    </li>
  </ul>
    
    <h1>The Guardian Developers</h1>

    <nav>
        <a href="/">
            Home
        </a>

        <a href="/open#people">
            Open People
        </a>

        <a href="/open#source">
            Open Source
        </a>

        <a href="/diversity">
            Diversity
        </a>

        <a  href="/events">
            Events &amp; Talks
        </a>
    </nav>

</header>