---
import { header } from '../styles/index.css';

import { LinkButton } from '@guardian/source-react-components'
---
<style lang="scss">
    header {
        padding: 1rem;
    }

    nav {
        display: flex;

        *:nth-child(n + 2) {
            margin-left: 1em;
        }
        a {
            &.active {
                font-weight: bold;
            }

            &:focus,
            &:hover {
                color: red;
            }
        }
    }
</style>
<header>
    <section id="social-presence">
    <ul>
        <li>
            
      
    <a href=""></a>
        </li>
        <li>
        <LinkButton href="https://github.com/guardian" target="_blank">
        Github @guardian
        </LinkButton>
            <a ></a>
        </li>
        <a href="https://workforus.theguardian.com/">
            Jobs &rarr;
        </a>
    </ul>
    </section>
    <nav class={header}>
        <a href="/">
            Home
        </a>

        <a href="/open#people">
            Open People
        </a>

        <a href="/open#source">
            Open Source
        </a>

        <a href="/diversity">
            Diversity
        </a>

        <a  href="/events">
            Events &amp; Talks
        </a>
    </nav>
</header>