---
import { LinkGithub } from "./icons/Github.tsx";
import { LinkTwitter } from "./icons/Twitter.tsx";
import { LinkJobs } from "./icons/Jobs.tsx";
---

<ul id="social-presence">
  <li>
    <LinkGithub />
  </li>
  <li>
    <LinkTwitter />
  </li>
  <li>
    <LinkJobs />
  </li>
</ul>

<h1>The Guardian&hairsp;<span>Developers</span></h1>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 1em;
  }

  h1 {
    font-size: clamp(1.25rem, 5vw, 2rem);
  }

  span {
    color: white;
  }
</style>
