---
---
<header class="container">
    <nav>
        <ul>
         <li class="title"><span class="title">The Guardian</span> | <a href="/blog" class="contrast">Engineering blog</a></li>
      </ul>
      <ul>
        <li><a href="/blog/tags" class="contrast" >Tags</a></li>
        <li><a href="/blog/authors" class="contrast" >Authors</a></li>
      </ul>
    </nav>

    <div class="color-line">
      <div class="color-segment segment-1"></div>
      <div class="color-segment segment-2"></div>
      <div class="color-segment segment-3"></div>
      <div class="color-segment segment-4"></div>
      <div class="color-segment segment-5"></div>
    </div>
</header>