---
import Base from "../../../layouts/blog/Base.astro";
const allPosts = Object.values(
  import.meta.glob("../*.{md,mdx}", { eager: true })
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const sortedTags = Array.from(tags).sort((a, b) =>
  a.localeCompare(b, "en", { sensitivity: "base" })
);
---

<Base pageTitle="Tags">
  <main class="container">
    <p>Tags:</p>
    <ul>
      {
        sortedTags.map((tag) => (
          <li>
            {" "}
            <a href={`/blog/tags/${tag}`}>{tag}</a>{" "}
          </li>
        ))
      }
    </ul>
  </main>
</Base>
