---
import Nav from '../components/Nav.astro';
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';

import { body } from '../styles/index.css.ts';
    
const { title } = Astro.props
---
<html lang="en">

<MainHead {title} />

<body class={body}>
    <Nav />

    <slot></slot>

    <Footer />
</body>

</html>